body {
    font-family: 'Alef', sans-serif;
    font-size: 25px;
    background-color: #f4f4f9;
    color: #333;
    text-align: center; /* Centre le texte horizontalement */
    margin: 0;
    padding: 0;
}

.sidebar {
    font-family: 'arial', sans-serif;
    font-size: 1.5em;
    width: 250px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style pour chaque date */
.date {
    margin-bottom: 10px;
    font-size: 25px;
    color: #333;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 22px;
    text-align: center;
    color: #333;
}

header {
    background-color: #003366;
    color: ;
    padding: 10px;
}
.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: auto;
}

#date-civil, #date-hebraique, #heure {
  font-size: 18px;
  margin: 5px;
}

h1 {
    color: #C3971B; /* Couleur du texte */
    font-family: 'Alef', sans-serif; /* Police de caractères */
    font-size: 50px; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    font-weight: bold; /* Rendre le texte en gras */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    text-shadow: 2px 2px 4px #000000; /* Ombre légère autour du texte */
    margin: 10px 0; /* Marge autour du titre */
}

#parasha {
    font-size: 1.2em;
    color: #d35400;
    font-weight: bold;
    margin-top: 10px;
}

p {
    direction: rtl;
main {
    margin: 10px 0;
}

footer {
    background-color: #003366
    color: white;
    text-align: center;
    padding: 8px 0;
    margin: 5px 0;
}
    
.no-bullets {
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Enlève les marges internes */
    margin: 0; /* Enlève les marges externes */
}

ul {
    font-family: 'arial', sans-serif;
    text-align: left;
    list-style: none;
    padding-left: 50px;
    margin: 10px 0; /* Ajoute de l'espace au-dessus et en dessous de la liste */
}

