body {
    font-family: 'Alef', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center; /* Centre le texte horizontalement */
    margin: 0;
    padding: 0;
}
    
header {
    background-color: #003366;
    color: white;
    padding: 20px;
}
.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: auto;
}
h1 {
    font-size: 3em;
    margin: 0;
}

main {
    margin: 20px 0;
}

footer {
    background-color: #003366;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
ul, ol {
    text-align: left; /* Aligne les listes à gauche */
    padding-left: 40px; /* Ajoute un grand retrait (ajustez la valeur si nécessaire) */
    margin: 20px 0; /* Ajoute de l'espace au-dessus et en dessous de la liste */
}

