body {
    font-family: 'Alef', sans-serif;
    font-size: 25px;
    background-color: #f4f4f9;
    color: #333;
    text-align: center; /* Centre le texte horizontalement */
    margin: 0;
    padding: 0;
}
    
header {
    background-color: #003366;
    color: ;
    padding: 20px;
}
.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: auto;
}

h1 {
    color: #3498db; /* Couleur du texte */
    font-family: 'Alef', sans-serif; /* Police de caractères */
    font-size: 40px; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    font-weight: bold; /* Rendre le texte en gras */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    text-shadow: 2px 2px 4px #000000; /* Ombre légère autour du texte */
    margin: 20px 0; /* Marge autour du titre */
}

main {
    margin: 10px 0;
}

footer {
    background-color: #003366;
    color: white;
    padding: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
ul, ol {
    text-align: left; /* Aligne les listes à gauche */
    padding-left: 60px; /* Ajoute un grand retrait (ajustez la valeur si nécessaire) */
    margin: 20px 0; /* Ajoute de l'espace au-dessus et en dessous de la liste */
}

